.template__wrapper {
  background-color: #FAFAF5;
  color: black;
  margin: 0;
  padding: 3em;

  height: fit-content;
  width: fit-content;
}

.inner__wrapper {
  background-image: url('../../../assets/images/university_badge_background.png');
  background-position: center; 
  background-repeat: no-repeat;
  border: 5px solid #20202e;
}

.template__wrapper h1 {
  color: black;
  font-family: 'Playfair Display SC', serif;
  font-size: 2.5rem;
  margin-top: 0.5em;
  text-align: center;
}

.template__wrapper .highlighted {
  color: #454a75;
}

.template__wrapper h2 {
  color: black;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.75rem;
  text-align: center;
}

.template__wrapper h3 {
  color: black;
}

.template__wrapper p {
  color: black;
  font-family: 'Luxurious Script', cursive;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1em;
  margin: 1em 0 1em 0;
  padding: 0 8em;
  text-align: center;
}

.template__wrapper .account__address {
  color: #303030;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 0.8rem;
  margin: -0.5em 0 0.5em 0;
}


.template__wrapper .degree__in__area {
  margin: 0;
}

.university__badge__img {
  height: 6em;
  width: auto;
  margin: 2em 0 1em 0;
}

.export__to__pdf {
  margin: 1.5em 0;
}

.export__to__pdf button {
  background: #F89104;
  border: none;
  border-radius: 0 !important;
  color: #FFF;
  font-size: 0.9rem;
  outline: none;
  padding: 7px 25px !important;
  width: auto;
}

.export__to__pdf button:hover {
  background: #D87E01;
}

.metadata__wrapper {
  background-color: #20202e;
  margin-top: 3em;
  padding: 1em 1em 2em 1em;
}

.metadata__wrapper h3 {
  color: white;
  font-family: 'Playfair Display SC', serif;
  margin: 0em 0 1.25em 0;
}


.metadata__wrapper h5 {
  color: white;
  font-family: 'Playfair Display SC', serif;
  margin: 0 0 0.5em 0;
}


.metadata__wrapper p {
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
}

.metadata__wrapper p span {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.1rem;
  margin-left: 0.5em;
}

.metadata__wrapper a {
  color: #F89104;
  cursor: pointer;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.1rem;
  margin-left: 0.5em;
  text-decoration: none;
}

.metadata__wrapper a:hover {
  color: #D87E01;
  text-decoration: underline;
}