.proposal__wrapper {
  background-color: #141414;
  border: 1px solid #4b50e6;
  margin: 0 1em 1em 1em;
  padding: 0 1em 1em 1em;
}

.proposal__wrapper h6 {
  color: #aaa;
  line-height: normal;
  margin: 1.5em 0 0 0;
  padding: 0;
}

.proposal__wrapper h6 span {
  color: #f89104;
}

.proposal__wrapper h4 {
  line-height: normal;
  margin: -0.125em 0 0em 0;
  padding: 0;
}


.proposal__wrapper p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: normal;
  margin: -0.125em 0 0em 0;
  padding: 0;
}

.proposal__wrapper p span {
  color: #D87E01;
  font-family: 'Ubuntu Mono', monospace;
}


.proposal__wrapper table {
  margin: 1.5em 0;
}

.proposal__wrapper thead {
  background-color: #212366;
  font-weight: 400;
  padding: 0.25em;
  text-align: center;
}

.proposal__wrapper thead span {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0 0.5em;
}