.create__id__wrapper{
  color: #FFF;
  margin: 0 1em;
}

.preview__id__wrapper {
  background-image: url('../../../assets/images/identity_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  height: auto;
  margin: 0;
  padding: 0 0em;
  width: 100%;
}

.preview__id__wrapper h1,
.preview__id__wrapper p {
  color: #000;
  line-height: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main__header {
  font-family: 'Cinzel', serif;
}

.preview__id__wrapper p {
  font-family: 'Cinzel', serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.25em 0 -0.25em 0;
}

.preview__id__wrapper h6 {
  color: #D87E01;
  font-family: 'Playfair Display SC', serif;
  font-size: 1.1rem;
  line-height: normal;
  margin: -0.2em 0 0.3em 0;
  padding: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.view__info__wrapper {
  margin-top: 5em;
}

.identity__photo__preview {
  padding: 0em;
  width: 100%;
}


.identity__address {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.2rem;
  width: 100%;
}

.barcode__img {
  width: 100%;
}


.form__column__wrapper {
  padding: 0 3em;
}

.input__form label {
  font-family: 'Playfair Display SC', serif;
  margin-top: 0.5em;
}

.input__form input[type="text"] {
  padding: 0 0.25em;
  width: 100%;
}

.input__form input[type="file"] {
  background: #24242d;
  border-radius: 3px;
  margin: 1.0em 0.7em;
  padding: 1em 1em;
  width: 100%;
}


.submit__btn {
  background: #F89104;
  border: none;
  border-radius: 0 !important;
  color: #FFF;
  font-size: 0.9rem;
  outline: none;
  padding: 7px 25px !important;
  width: auto;
}

.submit__btn:hover {
  background: #D87E01;
}


.form__column__wrapper h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-top: 2em;
}

.highlight__text {
  color: #F89104;
}