.dao__wrapper {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-left: 1em;
  padding-right: 1em;
}

.dao__wrapper h1 {
  font-family: 'Playfair Display SC', serif;
}

.dao__wrapper h2 {
  font-family: 'Playfair Display SC', serif;
}

.dao__wrapper h4 {
  font-family: 'Playfair Display SC', serif;
  margin: 0;
  padding: 0 0.5em;
}

.dao__wrapper h5 {
  font-family: 'Playfair Display SC', serif;
  margin-top: 0.5em;
}

.dao__wrapper p {
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
  margin: 0;
}

.dao__wrapper p i {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: normal;
}


.table__settings td,
.table__settings th {
  font-weight: 300;
  padding: 0 0.5em;
}


.row__wrapper h2 {
  margin-top: 1em;
}


.dao__wrapper input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #858585;
  opacity: 1; /* Firefox */
}


.dao__wrapper input[type="range"] {
  margin-right: 15px;
  width: 200px;
  height: 5px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

.dao__wrapper 
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}

.dao__wrapper input[type=range]::-moz-range-thumb:active {
  background: #3b40d6;
}

.dao__wrapper input[type="range"]::-moz-range-progress {
  background-color: #4b50e6; 
}


.dao__wrapper input[type="text"]::-moz-range-progress {
  width: 100%;
}

.dao__wrapper input[type="number"] {
  background: transparent;
  border: none;
  color: white;
  width: 3em;
}

.table__input__settings thead {
  background-color: #212366;
  font-weight: 400;
}

.table__input__settings td,
.table__input__settings th {
  padding: 0.125em 0.5em;
}

.table__input__settings tbody td,
.table__input__settings tbody th {
  font-weight: 300;
  padding: 0.125em 0.5em;
}

.select__function {
  background: #35353f;
  border: none;
  cursor: pointer;
  color: white;
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0.125em 0.125em;
  max-width: 100%;
}


.select__function option {
  font-family: 'Montserrat', sans-serif;
}

.dao__wrapper input[type="text"] {
  background: #14141a;
  border-color: #282834;
  color: white;
  width: 100%;
}

.add__proposal__wrapper{
  margin: 0.5em 1em;
  padding: 0.25em;
}

.proposal__function {
  background-color: #1d1d27;
  padding: 0.25em 0 0.25em 0.5em;
}

.change__parameters__wrapper {
  background-color: #282834;
  padding: 0.5em 0;
}

.expertise__proposal__plot {
  margin: 0.5em;
  padding: 1em;
}

.submit__wrapper {
  background-color: #181821;
  padding: 0.5em 0;
}

.submit__button {
  background-color: #3642a8;
  border: none;
  color: white;
  font-size: 0.9rem;
  margin: 0 1em;
  outline: none;
  padding: 7px 55px !important;
}

.submit__button:hover {
  background-color: #4b50e6;
}



/* Bar Chart Style */

.containerStyles {
  background: transparent;
  border-radius: 50px;
  margin: 10;
  position: relative;
  height: 20;
  width: 100%;
  z-index: 1;
}

.fillerStyles {
  border-radius: 0px;
  height: 100%;
  padding: 0;
  position: relative;
  text-align: right;
}

.jediBar {
  background-color: #6453ff;
  z-index: 1;
}

.expertBar {
  background-color: #4b50e6;
  clip-path: polygon(0 0, calc(100% - 13px) 0%, 100% 50%, calc(100% - 13px) 100%, 0 100%);
  margin-top: -1.5em;
  z-index: 2;
}

.intermediateBar {
  background-color: #3a3eb3;
  clip-path: polygon(0 0, calc(100% - 13px) 0%, 100% 50%, calc(100% - 13px) 100%, 0 100%);
  margin-top: -1.5em;
  z-index: 3;
}

.noviceBar {
  background-color: #212366;
  clip-path: polygon(0 0, calc(100% - 13px) 0%, 100% 50%, calc(100% - 13px) 100%, 0 100%);
  margin-top: -1.5em;
  z-index: 4;
}



.postdoctoralBar {
  background-color: #6453ff;
  z-index: 1;
}

.doctoralBar {
  background-color: #4b50e6;
  margin-top: -1.5em;
  z-index: 2;
}

.mastersBar {
  background-color: #3a3eb3;
  margin-top: -1.5em;
  z-index: 3;
}

.bachelorBar {
  background-color: #212366;
  margin-top: -1.5em;
  z-index: 4;
}





.labelStyles {
  color: white;
  font-weight: normal;
  margin-right: 20px;
  padding: 5;
}