.dao__wrapper {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.dao__wrapper h1 {
  font-family: 'Playfair Display SC', serif;
}

.dao__wrapper h2 {
  font-family: 'Playfair Display SC', serif;
}

.dao__wrapper h5 {
  font-family: 'Playfair Display SC', serif;
  margin-top: 0.5em;
}

.dao__wrapper p {
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
  margin: 0;
}

.dao__wrapper p i {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: normal;
}



.row__wrapper h2 {
  margin-top: 1em;
}


.dao__wrapper input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #858585;
  opacity: 1; /* Firefox */
}


.dao__wrapper input[type=range] {
  background: #14141a;
  opacity: 1;
}

.dao__wrapper input[type=range]::-moz-range-thumb {
  background: #333;
  cursor: pointer;
}

.dao__wrapper input[type=range]::-moz-range-thumb:active {
  background: #D87E01;
}

.dao__wrapper input[type="range"]::-moz-range-progress {
  background-color: #F89104; 
}



/* Bar Chart Style */

.containerStyles {
  background: transparent;
  border-radius: 50px;
  margin: 10;
  position: relative;
  height: 20;
  width: 100%;
  z-index: 1;
}

.fillerStyles {
  border-radius: 50px;
  height: 100%;
  padding: 0;
  position: relative;
  text-align: right;
}

.jediBar {
  background-color: #F89104;
  z-index: 1;
}

.expertBar {
  background-color: #C86E01;
  margin-top: -1.5em;
  z-index: 2;
}

.intermediateBar {
  background-color: #A84E01;
  margin-top: -1.5em;
  z-index: 3;
}

.noviceBar {
  background-color: #882E01;
  margin-top: -1.5em;
  z-index: 4;
}

.labelStyles {
  color: white;
  font-weight: bold;
  margin-right: 20px;
  padding: 5;
}